* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 15px 50px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ff66;
}

.whatsapp a {
  text-decoration: none;
  color: white;
  background-color: #25D366;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.whatsapp a:hover {
  background-color: #1ebd59;
}


  H1{
   text-align: center;
   text-shadow: 2px 2px 3px red;
   
  }
  H1:hover{
text-shadow: 2px 2px 3px orange;
  }
 .ok video {
   border-radius: 3px;
   width: 100%;
   height: 900px;  
 }
 .secound h1 {
  background-color: aqua;
   }
/* .card { */
  width: 300px;
  height: 200px;
  overflow: hidden; /* zoom hone par image bahar na nikle */
  border-radius: 10px;
}

/* /* .card img { */
   display: inline ;
   padding-inline-start: 
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.3);
}
div */
.card:hover{
 background-color: grey;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #f3f4f6;
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;           /* mobile view me auto adjust */
  gap: 20px;                 /* cards ke beech space */
}

.card {
  background: white;
  border-radius: 15px;
  width: 23%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  padding: 15px;
}

.card:hover {
  transform: translateY(-10px);    /* hover pe thoda upar uthe */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card h3 {
  margin-top: 15px;
  color: #222;
}

.card p {
  color: #666;
  font-size: 14px;
  margin: 10px 0 20px;
}

button {
  background: #ff4c4c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #e63946;
}
.secound h1{
  margin: 34px;
}
.Bar h1{
  padding: 0%;
  margin: 0%;
}
.ok video{
  padding: 0%;
  margin: 0%;
}
.ok {
  margin: 10px 0px 20px;
}
.okk{
  margin: 10px;
  padding: 10px;
}