* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f3f4f6;
  padding: 40px;
  text-align: center;
}

/* HEADER */
.H1 {
  text-align: center;
  text-shadow: 2px 2px 3px red;
  margin-bottom: 20px;
}
.H1:hover {
  text-shadow: 2px 2px 3px orange;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 15px 50px;
  border-radius: 12px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ff66;
}

.whatsapp a {
  text-decoration: none;
  color: white;
  background-color: #25D366;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.whatsapp a:hover {
  background-color: #1ebd59;
}

/* HERO VIDEO */
.hero video {
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
}

/* PRODUCTS */
.products h2 {
  font-size: 28px;
  color: #333;
  margin: 40px 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  width: 23%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  padding: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card h3 {
  margin-top: 15px;
  color: #222;
}

.card p {
  color: #666;
  font-size: 14px;
  margin: 10px 0 20px;
}

.price {
  font-weight: bold;
  color: #e63946;
  margin-bottom: 10px;
}

button {
  background: #ff4c4c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #e63946;
}
