
nav {
   background-color: aqua;
   width: 100%;
   height: 150%;
   border-radius: 52px;
   text-align: center;
   font-size: 18px;
   
}
nav a{
   color: gray;
   text-emphasis: none
   padding: 8px 12px;
   font: size 18px;
   left: 50%;
   text-decoration: none;
}
nav a:hover{
   color: black;
}
nav {
   word-spacing: 30px;
  }
  H1{
   text-align: center;
   text-shadow: 2px 2px 3px red;
  }
  H1:hover{
text-shadow: 2px 2px 3px orange;
  }
 .ok video {
   border-radius: 3px;
   width: 100%;
   height: 900px;  
 }
 .secound h1 {
  background-color: aqua;
   }
/* .card { */
  width: 300px;
  height: 200px;
  overflow: hidden; /* zoom hone par image bahar na nikle */
  border-radius: 10px;
}

/* .card img {
   display: inline ;
   padding-inline-start: 
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.3);
}
div */
.card:hover{
 background-color: grey;
}